## Read Data from JSON

In [1]:
import json


records = {1001: {"name": "Doritos", "price": 35, "quantity": 500},
           1002: {"name": "Dairy Milk", "price": 80, "quantity": 310},
           1003: {"name": "Blackcurrant", "price": 400, "quantity": 100},
           1004: {"name": "Lux", "price": 50, "quantity": 920},
           1005: {"name": "VVD", "price": 120, "quantity": 125},
           1006: {"name": "Alpenlibe", "price": 20, "quantity": 1020},
           1007: {"name": "Sprite", "price": 65, "quantity": 885},
           1008: {"name": "Pen", "price": 10, "quantity": 1900},
           1009: {"name": "Monitor", "price": 4500, "quantity": 150},
           1010: {"name": "Mobile", "price": 35000, "quantity": 60},
           1011: {"name": "Airpods", "price": 12999, "quantity": 98},
           1012: {"name": "Keyboard", "price": 699, "quantity": 20},
           1013: {"name": "Mouse", "price": 420, "quantity": 710},
           1014: {"name": "Bottle", "price": 105, "quantity": 965},
           1015: {"name": "Charger", "price": 99, "quantity": 250},
           1016: {"name": "Calendar", "price": 49, "quantity": 545},
           1017: {"name": "Smart Watch", "price": 3780, "quantity": 46},
           1018: {"name": "Olive oil", "price": 299, "quantity": 104},
           1019: {"name": "Sponge", "price": 79, "quantity": 354},
           1020: {"name": "Toolkit", "price": 799, "quantity": 22},
           1021: {"name": "Shoes", "price": 2899, "quantity": 70},
           1022: {"name": "Shirt", "price": 570, "quantity": 400},
           1023: {"name": "Pringles", "price": 119, "quantity": 900},
           1024: {"name": "Dish", "price": 260, "quantity": 500},
           1025: {"name": "Coffee", "price": 185, "quantity": 175},
           1026: {"name": "Air Conditioner", "price": 42500, "quantity": 6},
           1027: {"name": "Washing Machine", "price": 15999, "quantity": 3},
           1028: {"name": "Pillow", "price": 975, "quantity": 87},
           1029: {"name": "Joy Stick", "price": 1199, "quantity": 255},
           1030: {"name": "PS5", "price": 49499, "quantity": 30}}


js = json.dumps(records)

fd = open("record.json", 'w')
fd.write(js)

fd.close()

In [2]:
fd = open("record.json", 'r')
txt = fd.read()
record = json.loads(txt)

fd.close()

In [3]:
record

{'1001': {'name': 'Doritos', 'price': 35, 'quantity': 500},
 '1002': {'name': 'Dairy Milk', 'price': 80, 'quantity': 310},
 '1003': {'name': 'Blackcurrant', 'price': 400, 'quantity': 100},
 '1004': {'name': 'Lux', 'price': 50, 'quantity': 920},
 '1005': {'name': 'VVD', 'price': 120, 'quantity': 125},
 '1006': {'name': 'Alpenlibe', 'price': 20, 'quantity': 1020},
 '1007': {'name': 'Sprite', 'price': 65, 'quantity': 885},
 '1008': {'name': 'Pen', 'price': 10, 'quantity': 1900},
 '1009': {'name': 'Monitor', 'price': 4500, 'quantity': 150},
 '1010': {'name': 'Mobile', 'price': 35000, 'quantity': 60},
 '1011': {'name': 'Airpods', 'price': 12999, 'quantity': 98},
 '1012': {'name': 'Keyboard', 'price': 699, 'quantity': 20},
 '1013': {'name': 'Mouse', 'price': 420, 'quantity': 710},
 '1014': {'name': 'Bottle', 'price': 105, 'quantity': 965},
 '1015': {'name': 'Charger', 'price': 99, 'quantity': 250},
 '1016': {'name': 'Calendar', 'price': 49, 'quantity': 545},
 '1017': {'name': 'Smart Watch', 'price': 3780, 'quantity': 46},
 '1018': {'name': 'Olive oil', 'price': 299, 'quantity': 104},
 '1019': {'name': 'Sponge', 'price': 79, 'quantity': 354},
 '1020': {'name': 'Toolkit', 'price': 799, 'quantity': 22},
 '1021': {'name': 'Shoes', 'price': 2899, 'quantity': 70},
 '1022': {'name': 'Shirt', 'price': 570, 'quantity': 400},
 '1023': {'name': 'Pringles', 'price': 119, 'quantity': 900},
 '1024': {'name': 'Dish', 'price': 260, 'quantity': 500},
 '1025': {'name': 'Coffee', 'price': 185, 'quantity': 175},
 '1026': {'name': 'Air Conditioner', 'price': 42500, 'quantity': 6},
 '1027': {'name': 'Washing Machine', 'price': 15999, 'quantity': 3},
 '1028': {'name': 'Pillow', 'price': 975, 'quantity': 87},
 '1029': {'name': 'Joy Stick', 'price': 1199, 'quantity': 255},
 '1030': {'name': 'PS5', 'price': 49499, 'quantity': 30}}

## Add New Item into Inventory / Change the Current Value

In [4]:
prod_id = str(input("Enter product id:"))

if prod_id not in record.keys():
    
    name = str(input("Enter name:"))
    pr = int(input("Enter price:"))
    qn = int(input("Enter quantity:"))
    record[prod_id] = {'name': name, 'price': pr, 'quantity': qn}
    
else:
    print("Do you want the price to be changed?")
    if input().upper() == "YES":
        pr = int(input("Enter price to be changed:"))
        record[prod_id]['price'] = pr
    qn = int(input("Enter quantity to be added:"))
    record[prod_id]['quantity'] += qn

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1031
Enter name:Xbox One
Enter price:29999
Enter quantity:20

In [5]:
record

{'1001': {'name': 'Doritos', 'price': 35, 'quantity': 500},
 '1002': {'name': 'Dairy Milk', 'price': 80, 'quantity': 310},
 '1003': {'name': 'Blackcurrant', 'price': 400, 'quantity': 100},
 '1004': {'name': 'Lux', 'price': 50, 'quantity': 920},
 '1005': {'name': 'VVD', 'price': 120, 'quantity': 125},
 '1006': {'name': 'Alpenlibe', 'price': 20, 'quantity': 1020},
 '1007': {'name': 'Sprite', 'price': 65, 'quantity': 885},
 '1008': {'name': 'Pen', 'price': 10, 'quantity': 1900},
 '1009': {'name': 'Monitor', 'price': 4500, 'quantity': 150},
 '1010': {'name': 'Mobile', 'price': 35000, 'quantity': 60},
 '1011': {'name': 'Airpods', 'price': 12999, 'quantity': 98},
 '1012': {'name': 'Keyboard', 'price': 699, 'quantity': 20},
 '1013': {'name': 'Mouse', 'price': 420, 'quantity': 710},
 '1014': {'name': 'Bottle', 'price': 105, 'quantity': 965},
 '1015': {'name': 'Charger', 'price': 99, 'quantity': 250},
 '1016': {'name': 'Calendar', 'price': 49, 'quantity': 545},
 '1017': {'name': 'Smart Watch', 'price': 3780, 'quantity': 46},
 '1018': {'name': 'Olive oil', 'price': 299, 'quantity': 104},
 '1019': {'name': 'Sponge', 'price': 79, 'quantity': 354},
 '1020': {'name': 'Toolkit', 'price': 799, 'quantity': 22},
 '1021': {'name': 'Shoes', 'price': 2899, 'quantity': 70},
 '1022': {'name': 'Shirt', 'price': 570, 'quantity': 400},
 '1023': {'name': 'Pringles', 'price': 119, 'quantity': 900},
 '1024': {'name': 'Dish', 'price': 260, 'quantity': 500},
 '1025': {'name': 'Coffee', 'price': 185, 'quantity': 175},
 '1026': {'name': 'Air Conditioner', 'price': 42500, 'quantity': 6},
 '1027': {'name': 'Washing Machine', 'price': 15999, 'quantity': 3},
 '1028': {'name': 'Pillow', 'price': 975, 'quantity': 87},
 '1029': {'name': 'Joy Stick', 'price': 1199, 'quantity': 255},
 '1030': {'name': 'PS5', 'price': 49499, 'quantity': 30},
 '1031': {'name': 'Xbox One', 'price': 29999, 'quantity': 20}}

In [6]:
prod_id = str(input("Enter product id:"))

if prod_id not in record.keys():
    
    name = str(input("Enter name:"))
    pr = int(input("Enter price:"))
    qn = int(input("Enter quantity:"))
    record[prod_id] = {'name': name, 'price': pr, 'quantity': qn}
    
else:
    print("Do you want the price to be changed?")
    if input().upper() == "YES":
        pr = int(input("Enter price to be changed:"))
        record[prod_id]['price'] = pr
    qn = int(input("Enter quantity to be added:"))
    record[prod_id]['quantity'] += qn

js = json.dumps(record)

fd = open("record.json",'w')
fd.write(js)
fd.close()

Enter product id:1031
Do you want the price to be changed?
yes
Enter price to be changed:28499
Enter quantity to be added:25

In [7]:
record

{'1001': {'name': 'Doritos', 'price': 35, 'quantity': 500},
 '1002': {'name': 'Dairy Milk', 'price': 80, 'quantity': 310},
 '1003': {'name': 'Blackcurrant', 'price': 400, 'quantity': 100},
 '1004': {'name': 'Lux', 'price': 50, 'quantity': 920},
 '1005': {'name': 'VVD', 'price': 120, 'quantity': 125},
 '1006': {'name': 'Alpenlibe', 'price': 20, 'quantity': 1020},
 '1007': {'name': 'Sprite', 'price': 65, 'quantity': 885},
 '1008': {'name': 'Pen', 'price': 10, 'quantity': 1900},
 '1009': {'name': 'Monitor', 'price': 4500, 'quantity': 150},
 '1010': {'name': 'Mobile', 'price': 35000, 'quantity': 60},
 '1011': {'name': 'Airpods', 'price': 12999, 'quantity': 98},
 '1012': {'name': 'Keyboard', 'price': 699, 'quantity': 20},
 '1013': {'name': 'Mouse', 'price': 420, 'quantity': 710},
 '1014': {'name': 'Bottle', 'price': 105, 'quantity': 965},
 '1015': {'name': 'Charger', 'price': 99, 'quantity': 250},
 '1016': {'name': 'Calendar', 'price': 49, 'quantity': 545},
 '1017': {'name': 'Smart Watch', 'price': 3780, 'quantity': 46},
 '1018': {'name': 'Olive oil', 'price': 299, 'quantity': 104},
 '1019': {'name': 'Sponge', 'price': 79, 'quantity': 354},
 '1020': {'name': 'Toolkit', 'price': 799, 'quantity': 22},
 '1021': {'name': 'Shoes', 'price': 2899, 'quantity': 70},
 '1022': {'name': 'Shirt', 'price': 570, 'quantity': 400},
 '1023': {'name': 'Pringles', 'price': 119, 'quantity': 900},
 '1024': {'name': 'Dish', 'price': 260, 'quantity': 500},
 '1025': {'name': 'Coffee', 'price': 185, 'quantity': 175},
 '1026': {'name': 'Air Conditioner', 'price': 42500, 'quantity': 6},
 '1027': {'name': 'Washing Machine', 'price': 15999, 'quantity': 3},
 '1028': {'name': 'Pillow', 'price': 975, 'quantity': 87},
 '1029': {'name': 'Joy Stick', 'price': 1199, 'quantity': 255},
 '1030': {'name': 'PS5', 'price': 49499, 'quantity': 30},
 '1031': {'name': 'Xbox One', 'price': 28499, 'quantity': 45}}

# Delete an item from inventory

In [8]:
del record['1021']

In [9]:
record

{'1001': {'name': 'Doritos', 'price': 35, 'quantity': 500},
 '1002': {'name': 'Dairy Milk', 'price': 80, 'quantity': 310},
 '1003': {'name': 'Blackcurrant', 'price': 400, 'quantity': 100},
 '1004': {'name': 'Lux', 'price': 50, 'quantity': 920},
 '1005': {'name': 'VVD', 'price': 120, 'quantity': 125},
 '1006': {'name': 'Alpenlibe', 'price': 20, 'quantity': 1020},
 '1007': {'name': 'Sprite', 'price': 65, 'quantity': 885},
 '1008': {'name': 'Pen', 'price': 10, 'quantity': 1900},
 '1009': {'name': 'Monitor', 'price': 4500, 'quantity': 150},
 '1010': {'name': 'Mobile', 'price': 35000, 'quantity': 60},
 '1011': {'name': 'Airpods', 'price': 12999, 'quantity': 98},
 '1012': {'name': 'Keyboard', 'price': 699, 'quantity': 20},
 '1013': {'name': 'Mouse', 'price': 420, 'quantity': 710},
 '1014': {'name': 'Bottle', 'price': 105, 'quantity': 965},
 '1015': {'name': 'Charger', 'price': 99, 'quantity': 250},
 '1016': {'name': 'Calendar', 'price': 49, 'quantity': 545},
 '1017': {'name': 'Smart Watch', 'price': 3780, 'quantity': 46},
 '1018': {'name': 'Olive oil', 'price': 299, 'quantity': 104},
 '1019': {'name': 'Sponge', 'price': 79, 'quantity': 354},
 '1020': {'name': 'Toolkit', 'price': 799, 'quantity': 22},
 '1022': {'name': 'Shirt', 'price': 570, 'quantity': 400},
 '1023': {'name': 'Pringles', 'price': 119, 'quantity': 900},
 '1024': {'name': 'Dish', 'price': 260, 'quantity': 500},
 '1025': {'name': 'Coffee', 'price': 185, 'quantity': 175},
 '1026': {'name': 'Air Conditioner', 'price': 42500, 'quantity': 6},
 '1027': {'name': 'Washing Machine', 'price': 15999, 'quantity': 3},
 '1028': {'name': 'Pillow', 'price': 975, 'quantity': 87},
 '1029': {'name': 'Joy Stick', 'price': 1199, 'quantity': 255},
 '1030': {'name': 'PS5', 'price': 49499, 'quantity': 30},
 '1031': {'name': 'Xbox One', 'price': 28499, 'quantity': 45}}