## Read Inventory

In [29]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [30]:
records

{'1001': {'name': 'Doritos', 'price': 35, 'quantity': 500},
 '1002': {'name': 'Dairy Milk', 'price': 80, 'quantity': 310},
 '1003': {'name': 'Blackcurrant', 'price': 400, 'quantity': 100},
 '1004': {'name': 'Lux', 'price': 50, 'quantity': 920},
 '1005': {'name': 'VVD', 'price': 120, 'quantity': 125},
 '1006': {'name': 'Alpenlibe', 'price': 20, 'quantity': 1020},
 '1007': {'name': 'Sprite', 'price': 65, 'quantity': 885},
 '1008': {'name': 'Pen', 'price': 10, 'quantity': 1900},
 '1009': {'name': 'Monitor', 'price': 4500, 'quantity': 150},
 '1010': {'name': 'Mobile', 'price': 35000, 'quantity': 60},
 '1011': {'name': 'Airpods', 'price': 12999, 'quantity': 98},
 '1012': {'name': 'Keyboard', 'price': 699, 'quantity': 20},
 '1013': {'name': 'Mouse', 'price': 420, 'quantity': 710},
 '1014': {'name': 'Bottle', 'price': 105, 'quantity': 965},
 '1015': {'name': 'Charger', 'price': 99, 'quantity': 250},
 '1016': {'name': 'Calendar', 'price': 49, 'quantity': 545},
 '1017': {'name': 'Smart Watch', 'price': 3780, 'quantity': 46},
 '1018': {'name': 'Olive oil', 'price': 299, 'quantity': 104},
 '1019': {'name': 'Sponge', 'price': 79, 'quantity': 354},
 '1020': {'name': 'Toolkit', 'price': 799, 'quantity': 22},
 '1021': {'name': 'Shoes', 'price': 2899, 'quantity': 70},
 '1022': {'name': 'Shirt', 'price': 570, 'quantity': 400},
 '1023': {'name': 'Pringles', 'price': 119, 'quantity': 900},
 '1024': {'name': 'Dish', 'price': 260, 'quantity': 500},
 '1025': {'name': 'Coffee', 'price': 185, 'quantity': 175},
 '1026': {'name': 'Air Conditioner', 'price': 42500, 'quantity': 6},
 '1027': {'name': 'Washing Machine', 'price': 15999, 'quantity': 3},
 '1028': {'name': 'Pillow', 'price': 975, 'quantity': 87},
 '1029': {'name': 'Joy Stick', 'price': 1199, 'quantity': 255},
 '1030': {'name': 'PS5', 'price': 49499, 'quantity': 30},
 '1031': {'name': 'Xbox One', 'price': 28499, 'quantity': 45}}

## Purchase

In [31]:
import time

no_prod = int(input("Enter the number of elements to purchase: "))
print("\n")
print("=====================================================================")
sales = {}

for i in range(no_prod):
    ui_prod  = input("Enter the product_Id: ")
    ui_quant = int(input("Enter the quantity: "))

    if ui_prod in records.keys():
        if ui_quant > records[ui_prod]['quantity']:
            print("The entered value exceeds the quantity")
        
        else:
            print("Product: ", records[ui_prod]['name'])
            print("Price: ", records[ui_prod]['price'])
            print("Billing Amount: ", records[ui_prod]['price'] * ui_quant)
            print("=====================================================================")
            
            records[ui_prod]['quantity'] = records[ui_prod]['quantity'] - ui_quant
            sales[i + 1] = {'product' : ui_prod, 'quantity' : ui_quant, 'amount': records[ui_prod]['price'] * ui_quant, 'time': time.ctime()}
    else:
        print("Error! Invalid product ID")

Enter the number of elements to purchase: 10


=====================================================================
Enter the product_Id: 1025
Enter the quantity: 3
Product:  Coffee
Price:  185
Billing Amount:  555
=====================================================================
Enter the product_Id: 1031
Enter the quantity: 2
Product:  Xbox One
Price:  28499
Billing Amount:  56998
=====================================================================
Enter the product_Id: 1005
Enter the quantity: 5
Product:  VVD
Price:  120
Billing Amount:  600
=====================================================================
Enter the product_Id: 1010
Enter the quantity: 6
Product:  Mobile
Price:  35000
Billing Amount:  210000
=====================================================================
Enter the product_Id: 1011
Enter the quantity: 5
Product:  Airpods
Price:  12999
Billing Amount:  64995
=====================================================================
Enter the product_Id: 1003
Enter the quantity: 6
Product:  Blackcurrant
Price:  400
Billing Amount:  2400
=====================================================================
Enter the product_Id: 1025
Enter the quantity: 1
Product:  Coffee
Price:  185
Billing Amount:  185
=====================================================================
Enter the product_Id: 1021
Enter the quantity: 3
Product:  Shoes
Price:  2899
Billing Amount:  8697
=====================================================================
Enter the product_Id: 1014
Enter the quantity: 3
Product:  Bottle
Price:  105
Billing Amount:  315
=====================================================================
Enter the product_Id: 1016
Enter the quantity: 4
Product:  Calendar
Price:  49
Billing Amount:  196
=====================================================================

In [32]:
records

{'1001': {'name': 'Doritos', 'price': 35, 'quantity': 500},
 '1002': {'name': 'Dairy Milk', 'price': 80, 'quantity': 310},
 '1003': {'name': 'Blackcurrant', 'price': 400, 'quantity': 94},
 '1004': {'name': 'Lux', 'price': 50, 'quantity': 920},
 '1005': {'name': 'VVD', 'price': 120, 'quantity': 120},
 '1006': {'name': 'Alpenlibe', 'price': 20, 'quantity': 1020},
 '1007': {'name': 'Sprite', 'price': 65, 'quantity': 885},
 '1008': {'name': 'Pen', 'price': 10, 'quantity': 1900},
 '1009': {'name': 'Monitor', 'price': 4500, 'quantity': 150},
 '1010': {'name': 'Mobile', 'price': 35000, 'quantity': 54},
 '1011': {'name': 'Airpods', 'price': 12999, 'quantity': 93},
 '1012': {'name': 'Keyboard', 'price': 699, 'quantity': 20},
 '1013': {'name': 'Mouse', 'price': 420, 'quantity': 710},
 '1014': {'name': 'Bottle', 'price': 105, 'quantity': 962},
 '1015': {'name': 'Charger', 'price': 99, 'quantity': 250},
 '1016': {'name': 'Calendar', 'price': 49, 'quantity': 541},
 '1017': {'name': 'Smart Watch', 'price': 3780, 'quantity': 46},
 '1018': {'name': 'Olive oil', 'price': 299, 'quantity': 104},
 '1019': {'name': 'Sponge', 'price': 79, 'quantity': 354},
 '1020': {'name': 'Toolkit', 'price': 799, 'quantity': 22},
 '1021': {'name': 'Shoes', 'price': 2899, 'quantity': 67},
 '1022': {'name': 'Shirt', 'price': 570, 'quantity': 400},
 '1023': {'name': 'Pringles', 'price': 119, 'quantity': 900},
 '1024': {'name': 'Dish', 'price': 260, 'quantity': 500},
 '1025': {'name': 'Coffee', 'price': 185, 'quantity': 171},
 '1026': {'name': 'Air Conditioner', 'price': 42500, 'quantity': 6},
 '1027': {'name': 'Washing Machine', 'price': 15999, 'quantity': 3},
 '1028': {'name': 'Pillow', 'price': 975, 'quantity': 87},
 '1029': {'name': 'Joy Stick', 'price': 1199, 'quantity': 255},
 '1030': {'name': 'PS5', 'price': 49499, 'quantity': 30},
 '1031': {'name': 'Xbox One', 'price': 28499, 'quantity': 43}}

## Update Inventory after purchase

In [33]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

## Sales JSON

In [34]:
sale = json.dumps(sales)

fd = open("sale.json",'w')
fd.write(sale)
fd.close()

In [35]:
txt = json.loads(sale)

In [36]:
txt

{'1': {'product': '1025',
  'quantity': 3,
  'amount': 555,
  'time': 'Mon Sep  6 15:54:18 2021'},
 '2': {'product': '1031',
  'quantity': 2,
  'amount': 56998,
  'time': 'Mon Sep  6 15:54:23 2021'},
 '3': {'product': '1005',
  'quantity': 5,
  'amount': 600,
  'time': 'Mon Sep  6 15:54:38 2021'},
 '4': {'product': '1010',
  'quantity': 6,
  'amount': 210000,
  'time': 'Mon Sep  6 15:54:50 2021'},
 '5': {'product': '1011',
  'quantity': 5,
  'amount': 64995,
  'time': 'Mon Sep  6 15:55:26 2021'},
 '6': {'product': '1003',
  'quantity': 6,
  'amount': 2400,
  'time': 'Mon Sep  6 15:55:32 2021'},
 '7': {'product': '1025',
  'quantity': 1,
  'amount': 185,
  'time': 'Mon Sep  6 15:55:37 2021'},
 '8': {'product': '1021',
  'quantity': 3,
  'amount': 8697,
  'time': 'Mon Sep  6 15:55:43 2021'},
 '9': {'product': '1014',
  'quantity': 3,
  'amount': 315,
  'time': 'Mon Sep  6 15:55:51 2021'},
 '10': {'product': '1016',
  'quantity': 4,
  'amount': 196,
  'time': 'Mon Sep  6 15:55:56 2021'}}

In [37]:
import pandas as pd

df = pd.DataFrame.from_dict(txt, orient = 'index')

In [38]:
df

   product  quantity  amount                      time
1     1025         3     555  Mon Sep  6 15:54:18 2021
2     1031         2   56998  Mon Sep  6 15:54:23 2021
3     1005         5     600  Mon Sep  6 15:54:38 2021
4     1010         6  210000  Mon Sep  6 15:54:50 2021
5     1011         5   64995  Mon Sep  6 15:55:26 2021
6     1003         6    2400  Mon Sep  6 15:55:32 2021
7     1025         1     185  Mon Sep  6 15:55:37 2021
8     1021         3    8697  Mon Sep  6 15:55:43 2021
9     1014         3     315  Mon Sep  6 15:55:51 2021
10    1016         4     196  Mon Sep  6 15:55:56 2021

In [39]:
print("==========================")
print(" Billing amount is",df['amount'].sum())
print("==========================")

==========================
 Billing amount is 344941
==========================